<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/style.css'>
    <script type="text/javascript" src="/js/app.js"></script>
    <link rel='icon' href='/img/weather.png'>
    
    <title> {{title}} </title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img src={{image}} alt="yo" class='portrait'>
    </div>

    {{>footer}}
  </body>
</html>
